*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.build/
.idea/
build/*
app/build
# captured images or li
captures/
*.jks
# GKC_hashcode
gkc_*.*
# distribution
app/develop
app/staging
app/production
